/* src/styles/admin.css */
.admin-container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.admin-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.success-message {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Texto en color blanco */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espaciado inferior */
    border-radius: 5px; /* Bordes redondeados */
  }