/* editarBiciPopup.css */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    max-height: 90%; /* Limita la altura máxima del popup */
    overflow-y: auto; /* Permite el desplazamiento vertical */
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}

.formGroup input, .formGroup textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    margin-right: 10px;
}
