.form-container{
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#order-form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#order-form label {
    margin-top: 10px;
    font-weight: bold;
}

#order-form input,
#order-form textarea {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 

#order-form .checkbox-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 10px;
}
#order-form .checkbox-group label {
    display: flex;
    align-items: center;
}

#order-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#order-form button:hover {
    background-color: #218838;
}

/* styles/OrdenTrabajo.css */

.user-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.user-table th,
.user-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
}
