/* src/styles/technicianDashboard.css */
.technician-dashboard-container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.technician-calendar-container, .technician-appointments-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow-x: auto;
    height: 600px; /* Ajusta la altura según sea necesario */
}

.calendar-container {
    height: 100%;
    width: 100%;
}
